.d {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  z-index: 10;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  opacity: 0.7;
}

.loading-text {
  color: gray;
  font-size: 20px;
  margin-top: 20px;
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #fff; */
  backdrop-filter: blur(8px);
  z-index: 10;
}
